.race-horse-list {
  &__title {
    margin: 0 0 2rem 0;
    padding: 0 0 0 0.75rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  &__color {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
}
