.race-track {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--p-neutral-50);
  position: relative;

  &__content {
    flex: 1;
    position: relative;
    display: flex;
  }

  &__empty {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      color: var(--p-stone-700);
      font-size: 1rem;
    }
  }

  &__lanes {
    display: flex;
    flex-direction: column;
    background-color: var(--p-emerald-700);
    min-width: 50px;
    justify-content: space-between;
  }

  &__lane-number {
    font-weight: 500;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    font-size: 1rem;
    flex-direction: column;
    gap: 0.1rem;

    &-start-position {
      color: var(--p-white);
      font-size: 1.2rem;
    }

    &-hourse-name {
      color: var(--p-white);
      font-size: 0.8rem;
    }
  }

  &__track-area {
    flex: 1;
    position: relative;
    background-color: var(--p-neutral-100);
    border: 1px solid var(--p-neutral-200);
  }

  &__lane-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    border-top: 2px dashed var(--p-stone-400);
    pointer-events: none;
  }

  &__horse {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: left 0.05s linear;
    z-index: 10;
    will-change: left;
  }

  &__horse-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 2px solid var(--p-neutral-600);
    box-shadow: 0 2px 4px var(--p-black-500);
    cursor: pointer;
  }

  &__finish-line {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--p-red-600);
    z-index: 5;
    height: calc(100% + 48px);
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1rem;
    background-color: var(--p-neutral-50);
    border-top: 1px solid var(--p-neutral-200);
    height: 48px;
  }

  &__lap-label {
    font-weight: bold;
  }

  &__finish-label {
    font-weight: bold;
    color: var(--p-red-500);
  }
}
