.race-header {
  height: 64px;
  box-shadow: var(--p-card-shadow);
  border-bottom: 1px solid var(--p-neutral-200);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__control-button {
    width: 100px;

    &:deep(.p-button-icon) {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 1024px) {
  .race-header {
    height: auto;

    &__container {
      padding: 0.5rem;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
