.race-results {
  display: flex;
  // gap: 1rem;
  height: 100%;

  &__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--program {
      border-right: 1px solid var(--p-neutral-200);
    }
  }

  &__title {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    background-color: var(--p-neutral-50);
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--p-neutral-200);
  }

  &__content {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem 0;
  }

  &__round {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__round-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
    padding: 0.25rem 0.5rem;
  }

  &__position-display {
    font-size: 0.95rem;
  }
}
