.race-layout {
  position: relative;
  height: 100vh;

  &__header {
    width: 100%;
  }

  &__content {
    margin: 2rem auto 0;
    display: flex;
    max-width: 1440px;
    width: 100%;
    padding: 0 1rem;
    gap: 2rem;
    height: calc(100vh - 2rem - 64px);
    overflow: hidden;
  }

  &__sidebar {
    overflow-y: auto;

    &--left {
      min-width: 240px;
    }

    &--right {
      min-width: 480px;

      &:deep(.p-panel-header) {
        margin-bottom: 0 !important;
      }

      &:deep(.p-panel-content) {
        padding: 0 !important;
      }
    }

    &:deep(.p-panel-header) {
      border-bottom: 1px solid var(--p-panel-border-color);
      margin-bottom: 1rem;
      position: sticky;
      top: 0;
      background-color: var(--p-neutral-50);
      z-index: 1;
    }

    &:deep(.p-panel-content) {
      padding: 0 1rem;
    }
  }

  &__main {
    flex: 1;
    width: 100%;
    border-radius: var(--p-panel-border-radius);
  }
}

@media (max-width: 1024px) {
  .race-layout {
    height: auto;

    &__header {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: var(--p-neutral-50);
    }

    &__content {
      height: auto;
      margin: 2rem auto;
      padding: 0 1rem 2rem 1rem;
      flex-direction: column;
      overflow: unset;
    }

    &__sidebar {
      max-height: 576px;

      &--left {
        order: 1;
      }

      &--right {
        min-width: auto;
      }
    }

    &__main {
      height: 576px;
      flex: unset;
    }
  }
}
